# === Quarkus Specifics ===
.quarkus/
target/
build/
*.log

# === Native Executables & Containers ===
*-runner
*-runner.jar
*.native
.docker/

# === Environment Configuration ===
.env
.env.local

# === Build Tools (Maven/Gradle local data) ===
.mvn/wrapper/maven-wrapper.jar
.gradle/
/build/

# === IDE Configurations ===
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch
bin/

# Visual Studio Code
.vscode/
